:root {
	--heading-font-size: 22px;
	--sub-heading-font-size: 18px;
	--title-font-size: 16px;
	--regular-font-size: 14px;
	font-family: sans-serif;
}
.gameHeader {
	font-size: var(--heading-font-size);
	font-weight: bold;
	margin-bottom: 20px;
}
.gameControls {
	margin-bottom: 20px;
}
.startMsg {
	font-size: var(--sub-heading-font-size);
	font-weight: bold;
	margin-bottom: 10px;
}
.difficulty {
	display: flex;
}
.difficultyBtn {
	border-radius: 4px;
	font-weight: bold;
	margin-right: 10px;
	padding: 8px 16px;
	cursor: pointer;
}
.difficultyBtn:hover {
	box-shadow: 0px 0px 3px 0px blue;
}
.easy {
	background-color: #9fd79f;
}
.medium {
	background-color: #edca49;
}
.hard {
	background-color: #c42424;
	color: #fff;
}
.insane {
	background-color: #cc9ea3;
	color: #c50e0e;
}
.gridWrapper {

}
.gridRow {
	display: flex;
}
.gridCell {
	height: 50px;
	width: 50px;
	border: 1px solid #3c3d3c;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.topCell {
	border-top: 2px solid #3c3d3c;
}
.bottomCell {
	border-bottom: 2px solid #3c3d3c;
}
.leftCell {
	border-left: 2px solid #3c3d3c;
}
.rightCell {
	border-right: 2px solid #3c3d3c;
}
.mineImg {
	width: 100%;
}
.discoveredCell {
	background-color: #e4e4e4;
}
.resetBtn {
	padding: 16px;
	font-size: var(--);
	background-color: #00b9f5;
	color: #fff;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	border-radius: 4px;
	cursor: pointer;
}
.statsWrapper {
	display: flex;
	align-items: center;
}
.gameMsg {
	margin-right: 10px;
	margin-bottom: 20px;
}
.errorMsg {
	font-size: var(--sub-heading-font-size);
	color: #bd4b4b;
	font-weight: bold;
}
.successMsg {
	font-size: var(--sub-heading-font-size);
	color: #26a547;
	font-weight: bold;
}

.lifeBar {
	display: flex;
	margin-bottom: 20px;
}
.lifeImg {
	margin-right: 10px;
	width: 25px;
}